@using Sandbox;
@using Sandbox.UI;
@using System;
@inherits PanelComponent

<root>
    @if (ShouldDisplay)
    {
        <div class="progress">
            <div class="label">@LabelText</div>
        </div>
    }
</root>

@code
{
    [Property] public PlayerSetup TargetPlayer { get; set; }

    private bool ShouldDisplay =>
        TargetPlayer != null
        && !TargetPlayer.IsProxy
        && TargetPlayer.Role == PlayerRole.Survivor
        && QuestManager.Instance != null;

    private string LabelText
    {
        get
        {
            if (QuestManager.Instance == null)
            {
                return "(no manager)";
            }
            var text = $"Quêtes : {QuestManager.Instance.CompletedQuests}/{QuestManager.Instance.TotalQuests}";
            return text;
        }
    }

    protected override int BuildHash() => HashCode.Combine(ShouldDisplay, LabelText);

}